[submodule "modules/uno"]
	path = modules/uno
	url = https://github.com/codedobo/uno.git
[submodule ".\\modules\\support"]
	path = .\\modules\\support
	url = https://github.com/codedobo/support.git
[submodule ".\\modules\\main"]
	path = .\\modules\\main
	url = https://github.com/codedobo/main.git
